<template>
  <div class="col-md-2">
    <div class="card py-1 mb-1 card-pokemon" @click="handleClick(id)" @mouseover="hoverBg = 'bg-secondary'" @mouseleave="hoverBg = ''" :class="hoverBg">
      <div class="card-body text-center text-capitalize">
        <span class="fw-bold">{{ pokemon.name }}</span>
        <div>
          <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`" :alt="pokemon.name">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { ref, onMounted } from 'vue';
export default {

  name: 'Card',
  data() {
      return {
        hoverBg: ''
      };
  },
  props: {
    pokemon: {
      type: Object,
      required: true
    },
  },
  setup(props, { emit }) {
    const id = ref(null);

    onMounted(() => {
      id.value = props.pokemon.url.split('/')[6];
    });

    const handleClick = () => {
      emit('showPokemonInfo', id.value);
    };

    return {
      id,
      handleClick
    };
  },
  methods: {
  },
}
</script>

<style>
  .card-pokemon:hover {
    cursor: pointer;
  }
  .card-pokemon .card img {
    max-width: 156px;
  }
</style>
