<template>
  <b-modal v-model="showModal" :title="pokemon.name" ok-only ok-title="Fechar" ok-variant="danger">
    <div class="container mt-4">
      <div class="row justify-content-center align-items-center">
        <div class="col text-center">
          <img class="pokemon-img" :src="pokemon.sprites.other.showdown.front_default" :alt="`Gif ${pokemon.name}`">
          <div class="infos mt-3 text-start">
            <div class="d-flex justify-content-center">
              <PokemonType v-for="type in types" :pokemon-type="type"/>
            </div>
            <span class="d-block"><strong>Altura:</strong> {{ pokemon.height }}</span>
            <span class="d-block"><strong>Peso:</strong> {{ pokemon.weight }}</span>
            <div class="stats">
              <span class="d-block"><strong>Status:</strong></span>
              <ul class="list-unstyled">
                <li class="mx-5" v-for="stat in stats">{{ stat.name }} : {{ stat.value }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import PokemonType from "@/components/PokemonType.vue";
    export default {
        name: '',
        components: {PokemonType},
        data() {
            return {
              showModal: false,
              stats: null,
              types: null
            };
        },
        props: {
          pokemon: {
            type: Object,
            required: true
          },
        },
        watch: {
          pokemon: function(newValue) {
            this.stats = this.mapStats(newValue.stats);
            this.types = this.mapTypes(newValue.types);
          }
        },
        methods: {
          show() {
            this.showModal = true;
          },
          mapStats(stats) {
            return stats.map((stat) => {
              return {
                value: stat.base_stat,
                name: stat.stat.name
              }
            });
          },
          mapTypes(types) {
            return types.map((type) => {
              return {
                name: type.type.name
              }
            });
          }
        },
    };
</script>

<style>
  .modal-header h5{
    text-transform: capitalize;
  }
  .pokemon-img {
    width: 100px;
  }
</style>
