<template>
    <div :class="typeColors[pokemonType.name]" class="rounded-1 py-0 px-2 mx-1">
      {{ this.handleName(pokemonType.name) }}
    </div>
</template>

<script>
    export default {
        name: '',
        props: {
          pokemonType: {
            type: Object,
            required: true
          }
        },
        data() {
            return {
              typeColors: {
                normal: 'type-normal',
                fighting: 'type-fighting',
                flying: 'type-flying',
                poison: 'type-poison',
                ground: 'type-ground',
                rock: 'type-rock',
                bug: 'type-bug',
                ghost: 'type-ghost',
                steel: 'type-steel',
                fire: 'type-fire',
                water: 'type-water',
                grass: 'type-grass',
                electric: 'type-electric',
                psychic: 'type-psychic',
                ice: 'type-ice',
                dragon: 'type-dragon',
                dark: 'type-dark',
                fairy: 'type-fairy',
              }
            };
        },
        methods: {
          handleName (name) {
            let ptBr = {
                normal: 'Normal',
                fighting: 'Lutador',
                flying: 'Voador',
                poison: 'Veneno',
                ground: 'Terrestre',
                rock: 'Pedra',
                bug: 'Inseto',
                ghost: 'Fantasma',
                steel: 'Aço',
                fire: 'Fogo',
                water: 'Água',
                grass: 'Grama',
                electric: 'Elétrico',
                psychic: 'Psíquico',
                ice: 'Gelo',
                dragon: 'Dragão',
                dark: 'Sombrio',
                fairy: 'Fada',
            };

            return ptBr[name];
          }
        },
    };
</script>

<style>
  .type-normal {
    background-color: #919BA3;
    color: #ffffff;
  }
  .type-fighting {
    background-color: #CE3F69;
    color: #ffffff;
  }
  .type-flying {
    background-color: #90AADC;
    color: #ffffff;
  }
  .type-poison {
    background-color: #AE6DC9;
    color: #ffffff;
  }
  .type-ground {
    background-color: #DA7843;
    color: #ffffff;
  }
  .type-rock {
    background-color: #CAB88C;
    color: #ffffff;
  }
  .type-bug {
    background-color: #92C227;
    color: #ffffff;
  }
  .type-ghost {
    background-color: #5069B3;
    color: #ffffff;
  }
  .type-steel {
    background-color: #5890A2;
    color: #ffffff;
  }
  .type-fire {
    background-color: #FD9F4F;
    color: #ffffff;
  }
  .type-water {
    background-color: #4D92D5;
    color: #ffffff;
  }
  .type-grass {
    background-color: #63BB5E;
    color: #ffffff;
  }
  .type-electric {
    background-color: #F4D439;
    color: #ffffff;
  }
  .type-psychic {
    background-color: #FC727A;
    color: #ffffff;
  }
  .type-ice {
    background-color: #74CFC0;
    color: #ffffff;
  }
  .type-dragon {
    background-color: #046DC0;
    color: #ffffff;
  }
  .type-dark {
    background-color: #5D5367;
    color: #ffffff;
  }
  .type-fairy {
    background-color: #EB93E7;
    color: #ffffff;
  }
</style>
