<template>
    <div class="bg-dark">
      <div class="container">
        <Nuxt/>
      </div>
    </div>
</template>

<script>
    export default {
        name: '',
        data() {
            return {
            };
        },
        methods: {},
    };
</script>
