<template>
  <div>
    <div class="row text-white text-center p-4">
      <h1>Pokedéx</h1>
    </div>
    <div class="container mt-4 pb-2">
      <div class="row g-4">
        <Card v-for="pokemon in pokemons" :pokemon="pokemon" @showPokemonInfo="showPokemonInfo"/>
      </div>
      <Modal ref="pokemonModal" :pokemon="selectedPokemon"/>
    </div>
  </div>
</template>

<script>
import Card from "@/components/Card.vue";
import Modal from "@/components/Modal.vue";

export default {
  name: 'IndexPage',
  components: {Card, Modal},
  data() {
      return {
        selectedPokemon: null
      };
  },
  async asyncData({ $axios }) {
    const { results: pokemons } = await $axios.$get('https://pokeapi.co/api/v2/pokemon?limit=151');
    const selectedPokemon = await $axios.$get('https://pokeapi.co/api/v2/pokemon/1');
    return { pokemons, selectedPokemon};
  },
  methods: {
    async showPokemonInfo(id) {
      this.selectedPokemon = await this.$axios.$get(`https://pokeapi.co/api/v2/pokemon/${id}`);

      this.$refs.pokemonModal.show();
    }
  },
}
</script>
